.list-group-item:hover {
    color: rgb(12,102,48);
    cursor: pointer;
}
.bg-success {
    background-color: rgb(12,102,48)!important;
}

body{
    background-color: #EFE9E4;
  }

.list-group-item {
    background-color: #EFE9E4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}