main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body > main > section {
  padding: 5px;
  margin: 5px;
  background-color: rgb(12, 102, 48);
  color: rgb(239, 233, 228);
}
